body{
  background-image: url("../img/fondo1.png");
}

header {
    background-color: #EC7E55;
    height: auto;
    color: azure;
    font-size: 120%;
    text-align: center;
    padding: 2px 0px 5px 0px;
}

h2{
    text-align: center;
    width: 30%;
    border: 1px solid chocolate;
    border-radius: 30px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 5px gray;
}

section article {
    margin: 50px 0px 20px 10%;
    width: 85%;
    background-color: #E37045;
    border-radius: 30px;
    padding-top: 0;

    display: inline-block;
    vertical-align: top;
    position: relative;
}

section article img {
    border: 1px solid black;
    border-radius: 30px;
    width: 60%;
    height: auto;
    transform: rotate(-90deg);
    margin: 0px 20% 0px 20%;
}

section article p{
    margin-top: 0px;
    color: azure;
    text-align: center;
}

section {
    line-height: 0px;
}

footer {

}

/* Esqeleto de responsive disign */
@media screen and (min-width: 480px){
    header {
        font-size: 150%;
    }
}

@media screen and (min-width: 767px){
    section article {
        float: left;
        width: 40%;
        margin: 50px 3% 20px 6%;
    }
}

@media screen and (min-width: 950px){
    section article {
        width: 26%;
        margin: 50px 1% 20px 5%;
    }
}
